footer{
  background-color: #DECABA;
  overflow: hidden;
}


.logo{
  width: 150px;
  height: auto;
}
.infofooter{
  display: flex;
}

.footer-link{
  display: flex;
  color: #3F3329;
  font-family: 'Alike';
  font-weight: 400;
  font-size: 24px;
  line-height: 20px;
  margin-bottom: 5px;

}

.number3 {
  grid-column: 2 / 3;
  margin-top: 20px; /* Adjust the margin-top value as needed */
}

.footer-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  overflow: hidden;
  position: relative;
  background-color: #DECABA;
  padding: 20px;
}


.footer-ul-container {
  display: flex;
  margin-top: 20px;
  padding: 50;
}

.category {
  list-style: none;
  margin: 20;
  padding: 20;
}

.category-title {
  color: #3F3329;
  display: flex;
  font-family: 'Alike';
  font-weight: bold;
  font-size: 26px;
  line-height: 20px;
  margin-bottom: 10px;
}


.footer-title {
  color: #3F3329;
  display: flex;
  font-family: 'Alike';
  font-weight: bold;
  font-size: 22px;
  line-height: 20px;
  margin-top: 20px;
}

.info {
  color: #3F3329;
  display: flex;
  font-family: 'Alike';
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  margin-bottom: 5px;
}


.social-title {
  color: #3F3329;
  font-family: 'Alike';
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
  margin-bottom: 10px;
}

.social {
  width: 350px;
  height: auto;
}

.footer-credit {
  text-align: center;
  background: rgba(0, 0, 0, 0.2);
  height: 20px;
  font-family: 'Alike';
  font-weight: bold;
  font-size: 24px;
  grid-column: 1 / span 2;
  padding: 10px 0;
  overflow: hidden;
  margin-bottom: 0;
}

.first {
  grid-column: 1 / 2;
}

.footer-social-container {
  grid-column: 2 / 3;
}

