.navbar {
    width: 100%;
    height: 110px;
    background: #DECABA;
    mix-blend-mode: normal;
}

.nav {
    padding: 10px 2vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.brand-logo {
    width: 146px;
    height: 144px;
    background: url(image.png);
    border-radius: 50%;
    margin-right: 20px;
}

.brand-name {
    width: 150px;
    height: 86px;
    background: url(name.png);
    margin-right: 20px;
}

.links-container {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    flex: 1;
    padding: 0;
}

.link {
    font-family: 'Alike';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    color: #3F3329;
    text-decoration: none;
    margin: 0 10px;
    opacity: 0.5;
}

.link:hover {
    opacity: 1;
}
