*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Great Vibes', sans-serif;
}

.navbar {
    overflow: hidden;
    position: absolute;
    width: 1440px;
    height: 110px;
    left: 0px;
    top: -2px;
    z-index: 9;
    background: #DECABA;
    mix-blend-mode: normal;
}

.nav{
    padding: 10px 10vw;
    display: flex;
    justify-content: space-between;
}

.brand-logo{
    position: absolute;
    width: 146px;
    height: 144px;
    left: -7px;
    top: -13px;
    
    background: url(image.png);
    border-radius: 119px;
}

.brand-name{
    position: absolute;
    width: 150px;
    height: 86px;
    left: 105px;
    top: 13px;
    
    background: url(name.png);
}


.search {
    width: 500px;
    display: flex;
}

.search-box {
    position: absolute;
    width: 351px;
    height: 40px; 
    left: 1065px;
    top: 32px;
    background: #FFF9F3;
    border: none; 
    border-radius: 60px;
    padding-left: 50px; 
}

.nav-items a {
    box-sizing: border-box;
    position: absolute;
    width: 18px;
    height: 19px;
    left: 1080px;
    top: 40px;

    border: 4px solid #DECABA;
    border-radius: 119px;
}

.navitems a img{
    position: absolute;
    width: 18.66px;
    height: 0px;
    left: 1090px;
    top: 59px;
    
    border: 2px solid #DECABA;
    transform: matrix(0.64, 0.77, -0.73, 0.69, 0, 0);
}

.links-container {
    width: 100%;
    display: flex; 
    margin-top: 10px;
    margin-left: 450px;
    list-style-type: none; 
}

.link {
    width: 222px;
    height: 36px;
    font-family: 'Alike';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 40px;
    text-align: center;
    color: #3F3329;
    flex: none;
    order: 1;
    flex-grow: 0;
    opacity: 0.5;
    text-decoration: none;
    margin: 10px 20px;
}

.link:hover {
    opacity: 1;
}
